[defaults]
inventory = inventory/hosts.ini
#remote_user = sysadmin
private_key_file = ~/.ssh/id_rsa
collections_paths = ./collections:~/.ansible/collections:/usr/share/ansible/collections
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles
host_key_checking = false

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
